.taskbar {
    height: 45px;
    margin: 0;
    background-color: var(--highlight-color);
    border: solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-color: #cbcbcb;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
}

.time {
    display: flex;
    align-content: end;
    margin-right: 3px;
    padding: 8px;
    border: solid 2px;
    border-top-color: #a0a0a0;
    border-left-color: #a0a0a0;
    border-right-color: #dfdfdf;
    border-bottom-color: #dfdfdf;
}

.start-button {
    font-family: 'MSW98UI';
    font-weight: bold;
    font-size: 24px;
    padding: 3px;
    /* padding-left: 37px; */
    border: solid 2px;
    background-color: #c9c9c9;
    border-bottom-color: var(--border-dark);
    border-right-color: var(--border-dark);
    border-top-color: var(--border-light);
    border-left-color: var(--border-light);
    margin-left: 5px;
    position: relative;
    padding-left: 30px;
    padding-bottom: 0;
}

.start-button-image {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 2px;
}

.start-button:active {
    background-color: var(--highlight-active);
    border-bottom-color: var(--border-light);
    border-right-color: var(--border-light);
    border-top-color: var(--border-dark);
    border-left-color: var(--border-dark);
    padding-top: 6px;
    padding-left: 33px;
    /* padding-left: 42px; */
}

.start-button:active .start-button-image {
    left: 5px;
}